<div class="p-3">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="querryForm" (ngSubmit)="handleAsk()">
        <div class="mb-3">
          <label for="" class="form-label"> Querry </label>
          <textarea
            formControlName="querry"
            class="form-control"
            name=""
            id=""
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <button class="btn btn-primary">Ask</button>
      </form>
      <div class="alert alert-success" *ngIf="result">
        <!--         <pre>{{ result | json }}</pre>
 -->
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let choice of result.choices">
            {{ choice.message.content }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
